<!-- content -->
  <div id="content">
    <div class="wrapper">
      <div class="aside">
        <div class="inner_copy">More <a href="#">Website Templates</a> @ Templates.com!</div>
        <div class="section">
          <!-- box begin -->
          <div class="box">
            <div class="inner">
              <h4><span><span>Latest News:</span></span></h4>
              <div class="inner">
                <dl>
                  <dt>December 31, 2009</dt>
                  <dd>Satum quae sequi nesciueqpro doloremque laudantium.</dd>
                  <dt>December 22, 2009</dt>
                  <dd class="last">Totam rem aperiam, eaquepsquae ab explicabo.</dd>
                </dl>
              </div>
            </div>
          </div>
          <!-- box end -->
        </div>
        <!-- box1 begin -->
        <div class="box1">
          <div class="inner">
            <h4><span><span>Polls:</span></span></h4>
            <div class="inner">
              <form id="poll-form" action="#">
                <fieldset>
                  <h6>Satus error voluptatem accum satium quae sequi?</h6>
                  <label for="name1">
                    <input type="radio" name="name" class="radio" id="name1" checked="checked" />
                    Totam rem aperiam</label>
                  <label for="name2">
                    <input type="radio" name="name" class="radio" id="name2"/>
                    Eaque ipsquae sequi neseiunt</label>
                  <label for="name3">
                    <input type="radio" name="name" class="radio" id="name3"/>
                    Hque porro qusquam</label>
                  <label for="name4">
                    <input type="radio" name="name" class="radio" id="name4"/>
                    Gxplicabo atus error sit </label>
                  <div class="aligncenter">
                    <input type="submit" value="Vote" class="submit"/>
                  </div>
                </fieldset>
              </form>
            </div>
          </div>
        </div>
        <!-- box1 end -->
      </div>
      <div class="mainContent">
        <div class="section">
          <h2>Welcome Our Interior Design!</h2>
          <div class="indent">
            <p>Interior Design is a free websites template created by Templates.com team. This website template is optimized for 1024X768 screen resolution. It is also XHTML &amp; CSS valid.</p>
            <p>The website template goes with two packages – with PSD source files and without them. PSD source files are available for free for the registered members of Templates.com. The basic package (without PSD is available for anyone without registration).</p>
            This website template has several pages: <a href="#">Home</a>,<a href="#"> About us</a>, <a href="#">Article</a> (with Article page), <a href="#">Contact Us</a> (note that contact us form – doesn’t work), <a href="#">Site Map</a>. </div>
        </div>
        <!-- box2 begin -->
        <div class="box2">
          <div class="inner">
            <h3>Recent Articles:</h3>
            <ul class="img-list">
              <li> <img alt="" src="assets/img1.png" />
                <h5><a href="#">Interior Design</a></h5>
                We offer you the latest interior design trends, ideas, contemporary architecture and design news. </li>
              <li> <img alt="" src="assets/img1.png" />
                <h5><a href="#">About Interior Design Template</a></h5>
                Free 1028X768 Optimized Website Template from Templates.com! We really hope that you like this template and will use for your websites. </li>
              <li class="last"> <img alt="" src="assets/img1.png" />
                <h5><a href="#">Creative Solutions</a></h5>
                If you are looking for something special, find plenty of creative interior ideas in this article. </li>
            </ul>
          </div>
        </div>
        <!-- box2 end -->
      </div>
    </div>
  </div>